# File database (Rất quan trọng!)
db.sqlite3
*.sqlite3

# Biến môi trường (Chứa mật khẩu, secret key)
.env
.env.*

# Thư mục chứa file người dùng upload
/media/

# Thư mục staticfiles (do collectstatic tạo ra)
/staticfiles/

# Python cache
__pycache__/
*.pyc

# Thư mục môi trường ảo (virtual environment)
venv/
env/
.venv/

# Log files
*.log
logs/

# Cấu hình của IDE (như PyCharm)
.idea/
.vscode/